
 body{
    background: lightblue;
    text-align: center;
}

.wrapper{
    width: 50%;
    padding: 20px;
    box-sizing: border-box;    
}

img{

 /* !transform   */
    transform: translate(-200px , 200px);
    /* transform: translateX(200px); */
    /* transform: translateY(200px); *    
    /* ! scale */
     /* transform:scaleX(1); */
    /* transform:scaleY(2.5); */
    transform: scale(1 , 0.5);  

    /*! rotate */
    /* transform:rotateX(60deg);
    transform:rotateY(0deg);
    transform:rotateZ(90deg); */
} 

 .circle{
    width:100px;
    padding: 50px 0;
    line-height: 0;
    margin: 60px auto;
    background: pink;
    color: white;
    border-radius:50px;
    cursor:pointer;
    transition: background 1s , transform 0.5s 1s;
}

.circle:hover {
  background:salmon;
transform: rotate(360deg);
}


